.configToggle {
  padding-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .configToggle__left {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .configToggle__right {
    text-align: right;
    margin-left: 10px;
  }
}
