{
  "comments": false,
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["transform-imports", {
      "chayns-components": {
        "transform": "../chayns-components/lib/utils/babel/resolveAbsoluteImport.js",
        "preventFullImport": true
      }
    }]
  ],
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-react"
  ],
  "env": {
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-constant-elements",
        "@babel/plugin-transform-react-inline-elements",
        "transform-react-remove-prop-types"
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
