.chayns-dev-injection-root {
  color: unset;

  .light-mode {
    color: #000000 !important;

    h2 {
      color: #000000 !important;
    }

    h3 {
      color: #000000 !important;
    }
  }

  .dark-mode {
    color: #ffffff !important;

    h2 {
      color: #ffffff !important;
    }

    h3 {
      color: #ffffff !important;
    }
  }

  b {
    font-family: inherit;
  }

  ::-webkit-scrollbar {
    display: none !important;
  }

  .chayns-dev-content-wrapper {
    padding: 0 20px;
  }

  .btn-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;

    &--padding {
      padding-top: 20px;
    }
  }

  .center-message {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .flex-split {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__left {
      max-width: 55%;
      overflow: hidden;
    }

    &__right {
      width: 40%;

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }

  .chayns-dev__settings {
    overflow: hidden;
    position: relative;

    > p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  //input::placeholder {
  //  opacity: 0.8;
  //}
  //
  //.input--dark-mode {
  //  color: #ffffff;
  //}
  //
  //.input--light-mode {
  //  color: #000000;
  //}
  //
  //.input--dark-mode::placeholder {
  //  color: #ffffff
  //}
  //
  //.input--light-mode::placeholder {
  //  color: #000000
  //}
}
