.chayns-dev-injection-root {
  h2 {
    color: #fff;
    padding: 0 5px;
    overflow: hidden;
    margin-top: 10px;
    font-size: 1.2rem;
    user-select: none;
    text-align: center;
    white-space: nowrap;
  }

  b {
    font-family: inherit;
  }

  ::-webkit-scrollbar {
    display: none !important;
  }

  .chayns-dev-content-wrapper {
    padding: 20px;
  }

  .btn-wrapper {
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
  }

  .center-message {
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .flex-split {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
      max-width: 55%;
      overflow: hidden;
    }

    &__right {
      width: 40%;

      p {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .chayns-dev__settings {
    overflow: hidden;
    position: relative;

    > p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  input::placeholder {
    color: black;
    opacity: 0.8;
  }
}
