.chayns-dev__actionbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;

  &__mode-switch {
    padding-right: 10px
  }

  svg {
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}
