.chayns-dev__actionbar {
  align-items: center;
  display: flex;
  height: 45px;
  justify-content: space-between;
  padding: 0 15px;

  &--left {
    align-items: center;
    display: flex;
  }

  svg {
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  i {
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}
