.chayns-dev__actionbar {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;

  svg {
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}
